$green1: #0eb58e;
$green2: #00cba9;
$green3: #808080;
$green4: rgba(0, 203, 169, 0.5);
$green5: #98c869;

$orange1: #ffb524;

$yellow1: rgb(255, 230, 2);

$black1: #333;
$black2: #45595b;

$gray1: #b9bcd0;
$gray2: #ddd;

$white1: #fff;
$white2: #ddd;
$white3: #f5f6f9;
$white4: rgba(0, 0, 0, 0.1);
$white5: #f5f5f5;
$white6: #fafafb;

$red: red;
$red2: #ec5d57;

$blue1: #00aeed;
