@import "assets/scss/common";

.loader-wrapper {
    @include absoluteCenter;

    .loader {
        border: 10px solid $green1; /* Light grey */
        border-top: 10px solid $white2; /* Blue */
        border-radius: 50%;
        width: 70px;
        height: 70px;
        animation: spin 1.5s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
